/build/
/.metadata/
/Debug/
/build/
/Release/
/.settings/language.settings.xml
*.r08
*.r16m
*.dtm
*.sav
*.bak
*.m64
*.gmv
*.rgen
*.sfc
python/__pycache__/
python/*.py
!python/argparse_helper.py
!python/dtm.py
!python/m64.py
!python/r08.py
!python/rgen.py
!python/r16m.py
!python/run-n64.py
!python/run-nes.py
!python/run-snes.py
!python/serial_helper.py
!python/tastm32*.py
.code_review_properties
/Releasev3/
/Releasev4/
